
<form class="example-form">
    <div class="w3-row w3-margin">
        <div class="divider w3-col" [style.background]="this.new ? '#b2dfdb': '#ffecb3'"></div>
        <mat-form-field class="w3-col m2">
            <input matInput ngModel placeholder="Name" [formControl]="this.nameFomrControl"
                [errorStateMatcher]="this.matcher" [(value)]="this.user.name" ng-disabled="!this.new">
            <mat-hint>User name</mat-hint>
            <mat-error *ngIf="this.nameFomrControl.hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="w3-col m2 w3-margin-left">
            <input matInput ngModel placeholder="Email" [formControl]="this.emailFomrControl"
                [errorStateMatcher]="this.matcher" [(value)]="this.user.email">
            <mat-hint>User email</mat-hint>
            <mat-error *ngIf="this.emailFomrControl.hasError('email') && !emailFomrControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="this.emailFomrControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
</form>