<mat-accordion data-aos="fade-up">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>CREATE</b>
            </mat-panel-title>
            <mat-panel-description>
                <b class="cacaheute-font">a Cacaheute</b>
            </mat-panel-description>
        </mat-expansion-panel-header>

        <div style="display: grid">
            <div class="horizontal column1">
                <div style="padding: 5px">
                    <mat-form-field>
                        <mat-label>Cacaheute name</mat-label>
                        <input matInput placeholder="Noel 1987" hint="the name of the event" [(ngModel)]="name"
                            required>
                        <mat-hint><b>The event name</b></mat-hint>
                    </mat-form-field>
                </div>

                <div style="padding: 5px">
                    <mat-form-field>
                        <input matInput placeholder="Price" type="number" [(ngModel)]="price" required>
                        <span matSuffix>€</span>
                    </mat-form-field>
                </div>
            </div>

            <div class="horizontal-persons column2">
                <mat-nav-list>
                    <mat-list-item *ngFor="let person of persons; let i = index;">
                        <div style="margin: 0px 5px">
                            <mat-form-field>
                                <input matInput placeholder="Name" [(ngModel)]="person.name" required>
                            </mat-form-field>
                        </div>
                        <div style="margin: 0px 5px">
                            <mat-form-field>
                                <input matInput placeholder="Email" [(ngModel)]="person.email" required>
                            </mat-form-field>
                        </div>
                        <div style="margin: 0px 5px">
                            <button mat-button color="warn" (click)="removePerson(i)">Remove</button>
                        </div>
                    </mat-list-item>
                </mat-nav-list>
            </div>
        </div>
        <mat-action-row>
            <button mat-button color="primary" (click)="addPerson()">
                <p>add person <i *ngIf="persons && (persons.length < 3)">(remains {{ 3 - persons.length }})</i></p>
            </button>
            <button mat-button color="primary" (click)="onCreateGame()">create</button>
            <button mat-button color="warn" (click)="onInitCreateGame()">init</button>
        </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>REJOIN</b>
            </mat-panel-title>
            <mat-panel-description>
                <b class="cacaheute-font">a Cacaheute</b>
            </mat-panel-description>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>