
.grid-wrapper{
    display: grid;
}

.column1 {
    margin: 7px;
    grid-column: 1;
}

.column2 {
    margin: 7px;
    grid-column: 2;
}
@media only screen and (max-width: 700px) {
    .column2 {
        overflow: auto;
        max-width: auto;
        margin: 7px;
        grid-column: 1;
    }
}


.mat-expansion-panel {
    background: #ffffff99
}

.cacaheute-font {
    font-family: 'Leckerli One';
    font-weight: bold;
}

.horizontal {
    display: block;
}

.horizontal-person {
    overflow: auto;    
}