<mat-card data-aos="fade-up">
    <mat-accordion>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>CREATE</b>
                </mat-panel-title>
                <mat-panel-description>
                    <b class="cacaheute-font">a Cacaheute</b>
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="horizontal">
                <mat-form-field>
                    <input matInput placeholder="Cacaheute name" [(ngModel)]="name">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Price" [(ngModel)]="price">
                </mat-form-field>
            </div>
            <div class="horizontal-persons">
                <p><b>Persons</b></p>
                <mat-accordion hideToggle="true">
                    <mat-expansion-panel *ngFor="let person of persons; let i = index" expanded="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ person.name }}</mat-panel-title>
                            <mat-panel-description>{{ person.email }}</mat-panel-description>
                        </mat-expansion-panel-header>
                        <mat-form-field>
                            <input matInput placeholder="name" [(ngModel)]="person.name">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="email" [(ngModel)]="person.email">
                        </mat-form-field>
                        <mat-action-row>
                            <button mat-button .action-cancel (click)="removePerson(i)">remove</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <mat-action-row>
                <button mat-button class="action-success" style="display: inline-block;" (click)="addPerson()">add
                    person</button>
                <button mat-button class="action-success" (click)="onCreateGame()">create</button>
            </mat-action-row>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <b>REJOIN</b>
                </mat-panel-title>
                <mat-panel-description>
                    <b class="cacaheute-font">a Cacaheute</b>
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>