
.column1 {
    margin: 7px;
    grid-column: 1;
}

.column2 {
    margin: 7px;
    grid-column: 2;
}

.mat-expansion-panel {
    background: #ffffff99
}

.cacaheute-font {
    font-family: 'Leckerli One';
    font-weight: bold;
}

.horizontal {
    display: inline-block;
}

.horizontal-person {
    overflow: auto;    
}