<div>
    <mat-progress-bar *ngIf="isLoading == true" mode="indeterminate"></mat-progress-bar>

    <div class="w3-display-topleft w3-padding-large w3-xlarge">
        <div class="grid-container">
            <div style="grid-column: 1; margin: 10px;">
                <img class="example-header-image" src="../assets/android-chrome-512x512.png" 
                     matTooltip="The best way to do santa's job">
            </div>
            <div style="grid-column: 2; margin: 10px; text-align: left;"
                 matTooltip="The best way to do santa's job">
                <p class="title">{{ title }}</p>
            </div>
        </div>
    </div>
    
    <div class="w3-display-middle">
        <app-create-game></app-create-game>
    </div>
</div>