<div>
    <mat-card>
        <mat-card-header>
            <div class="grid-container">
                <div style="grid-column: 1; margin: 10px;">
                    <div mat-card-avatar class="example-header-image"></div>
                </div>
                <div style="grid-column: 2; margin: 10px;">
                    <mat-card-title><p class="mat-card-header-title">{{ title }}</p></mat-card-title>
                </div>
            </div>
        </mat-card-header>
        <div style="text-align: center;">
            <app-create-game></app-create-game>
        </div>
    </mat-card>
</div>