.mat-card {
    height: 95%;
    width: 97%;
    position: fixed;
    background: #efefef55;
    color: white;
}

.mat-card-header-title {
    padding-bottom: 30px;
    font-family: 'Leckerli One';
    font-size: 45px;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000000;
}

.example-header-image {
    height: 100px;
    width: 100px;
    background-image: url('../assets/android-chrome-512x512.png');
    background-size: cover;
    filter: drop-shadow(3px 1px 3px #000000);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}