<ng-template [ngIf]="outlook.isConnected | async" [ngIfElse]="loggedOut">
    <div style="display: inline;">
        <p style="display: inline;">Logged as <b>{{this.outlook.currentUser?.givenName}}</b></p>
        <button mat-button style="display: inline;">📴</button>
    </div>
</ng-template>


<ng-template #loggedOut>
    <div>
        <p style="display: inline;">Outlook log in : </p>
        <button mat-button style="display: inline;" (click)="this.regiter()">📲</button>
    </div>
</ng-template>