<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h3>Welcome <b>{{ this.currentUser.name }}</b></h3>
            <h4><i> weather at <b>{{ this.currentWeather.name }}</b></i></h4>
        </mat-card-title>
        <mat-card-subtitle>
            <h4><b> {{ currentWeather.main.temp }} C°</b>{{ getWeatherIcon() }} </h4>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="!this.me" class="w3-row">
            <button mat-button (click)="this.register()">Login</button>
            <button mat-button (click)="this.unRegister()">logout</button>
        </div>
        <div *ngIf="this.me" class="w3-row">
           <app-main-tasks></app-main-tasks>
        </div>
    </mat-card-content>
</mat-card>