<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h3>Welcome <b>{{ this.currentUser.name }}</b></h3>
            <h4><i> weather at <b>{{ currentWeather.name }}</b></i></h4>
        </mat-card-title>
        <mat-card-subtitle>
            <h4><b> {{ currentWeather.main.temp }} C°</b>{{ getWeatherIcon() }} </h4>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="w3-row">
            <button mat-button (click)="this.register()">Login</button>
            <button mat-button (click)="this.unRegister()">logout</button>
            <button mat-button (click)="this.identity()">Claims</button>
        </div>
        <div class="w3-row">
            <div class="w3-col m4">
                <mat-card>
                    <mat-card-title><b>Open</b> games 🙇‍♂️</mat-card-title>
                    <mat-card-subtitle>There is still {{ this.gamesOnGoing.length }} events incomming
                    </mat-card-subtitle>
                </mat-card>
            </div>
            <div class="w3-col m4">
                <mat-card>
                    <mat-card-title><b>Closed</b> games 🏆</mat-card-title>
                    <mat-card-subtitle>There is the {{ this.gamesClosed.length }} events out dated</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="w3-col m4">
                <mat-card>
                    <mat-card-title><b>Your</b> games 👨‍🍳</mat-card-title>
                    <mat-card-subtitle>There is the {{ this.userGames.length }} created by the best... YOU
                    </mat-card-subtitle>
                </mat-card>
            </div>
        </div>
    </mat-card-content>
</mat-card>