/* You can add global styles to this file, and also import other style files */

//Import the material themes
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@font-face {
  font-family: Leckerli One;
  src: url('assets/LeckerliOne-Regular.otf') format('opentype')
}

body, html {
    height: 100%;
  }
  
.bg { 
    /* The image used */
    background-image: url("./assets/mainbackground.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
